{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Ngisi Status</title>
</head>
	<body>
		<header>
			<div class = "container p-5 text-lg-center">
				<h2><strong>Hallooo Apa Kabs ?!!!!</strong></h2>
			</div>
			<div>
				<a href="{% url 'profile' %}" class="btn btn-custom btn-lg page-scroll"> profil pembuat </a>
			</div>
		</header>

		<div class = "container p-5">
			<h3>Status Kamu</h3>
			<div class="table-responsive">
				<table class="table">
					
					<tbody>
						{% for i in Status %}
						<tr>
							<td>{{ i.status }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="container p-5">
			<div class="heading-title">
				<h3>Tambah Status</h3>
			</div>
			<div>
				<div>
					<form method="post">
						{% csrf_token %}
						{{ form|crispy }}
						<button type="submit" class="btn btn-primary" id="id_submit"> simpan status </button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html\>