<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style type="text/css">
    
    	img {
    		border: 4px solid #ddd;
		    width: 400px;
		    height: 400px;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
		body {
			background-color: #808080;
		}
	</style>
</head>
<body>
	<img src="https://pbs.twimg.com/profile_images/1015189772074008576/nf7xVK-v_400x400.jpg">
	<div align="center">
    <h3>abeng ganteng parah</h3>
    <h3>HOLLAA!! nami simkuring {{ name }}</h3>
    <div align="center">
    <article>NPM : {{ npm }}</article>
    <article>yuswa abi teh {{ age }} years old</article>
    <article>Hobby abi sadaya olahraga, nyanyi di wc sareng maen nba 2k !! </article>
    <h3> Kuliah di Universitas Indonesia, Depok (rumahna ayu tingting) </h3>
    </div>
    <div align="center">
    	<h3>I AM ONE OF A KIND</h3>
    	</p>
    	<br>

    	<a href="https://www.facebook.com/fikrinurulilmi" target="_blank">Facebook</a>
	    <a href="https://www.instagram.com/fikriilmin/" target="_blank">Instagram</a>
	    <a href="https://twitter.com/Fikriilmi25" target="_blank">Twitter</a>
</body>
</html>
